In [1]:
# merge the 3 files produces in order of beauty, fashion, mobile
# beautyTest  is if ran Part7
# beautyTestKneigh is if ran Part10
import pandas as pd
# from part 7 output
dfbeauty = pd.read_csv('beautyTest.csv') # import training set
dffashion = pd.read_csv('fashionTest.csv') # import training set
dfmobile = pd.read_csv('mobileTest.csv') # import training set
df3Grps = pd.concat([dfbeauty,dffashion, dfmobile])
print(len(df3Grps))

172402

In [2]:
# remove unneeded columns
df3Grps1 = df3Grps[['itemid','predicted']]



# rename the column to the right column header
df3Grps2 =df3Grps1.rename(columns={"predicted":"Category"}) 
df3Grps2.set_index(['itemid'])
print(len(df3Grps2))

172402

In [3]:
# read to a csv as output to be uploaded to Kaggle
# https://stackoverflow.com/questions/20845213/how-to-avoid-python-pandas-creating-an-index-in-a-saved-csv
df3Grps2.to_csv('[Beginner]_Final _Submission-(RevengeforTheOstracised).csv', index=False)

In [4]:
# read the output csv file for checking
df = pd.read_csv('[Beginner]_Final _Submission-(RevengeforTheOstracised).csv')
print(len(df))
df

172402

            itemid  Category
0        370855998         5
1        637234604         5
2        690282890         5
3        930913462         4
4       1039280071         5
5       1327710392         5
6       1328802799         4
7       1330468145         5
8       1677309730         5
9       1683142205         5
10      1704308849         5
11      1736407742         2
12      1747613934         3
13      1793784525         4
14       300165176         7
15       318893351         5
16       470655865         3
17       580992667         9
18       661957090         5
19       728370998         3
20      1260578917         3
21      1399470755         3
22      1409474454         5
23      1555896544         5
24      1631417975         3
25      1679201529         5
26      1728769387         3
27      1734623672         5
28      1760895527         4
29      1830918439         5
...            ...       ...
172372  1216935158        41
172373   311199291        41
172374  1694824763        38
172375  1034284267        41
172376  1059390085        35
172377  1839788366        31
172378   704126195        35
172379  1210020180        35
172380  1568003530        35
172381  1186786053        48
172382  1822896387        43
172383   919038573        31
172384  1839836526        31
172385  1397082442        32
172386  1740028202        34
172387   349452481        43
172388  1098672042        35
172389  1761239629        38
172390  1839767194        31
172391   976294675        42
172392  1388680945        32
172393   966489015        41
172394  1013677956        42
172395  1038729298        42
172396  1062060975        35
172397  1781957365        38
172398  1839851276        31
172399   955369303        48
172400  1638035772        33
172401  1498091427        34

[172402 rows x 2 columns]